{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Registrar Menu{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/menu.css' %}">{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block contenido %}
<div class="container">
            <div id="titulo">
                <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Alta de Menús</h1>
            </div>
            <form action="{% url 'menu:registrar_menu' %}" method="POST" autocomplete="on" class="needs-validation" novalidate>
                {% csrf_token %}
                <fieldset>
                    <div class="card">
                        <legend class="card-header text-white bg-success mb-3"><strong>Datos del Menú</strong></legend>
                        <div class="card-body">
                            <small><strong>Nota:</strong> los campos que cuentan con el simbolo (*) son obligatorios</small>
                            <br>


                            <div>
                                <br>
                                <label class="col-form-label" for="nombreMenu">(*) Nombre del menu:</label><br>
                                <input class="form-control" type="text" name="nombreMenu" id="nombreMenu" size="30" maxlength="400" placeholder="Nombre"
                                required="">
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Ingrese un Nombre al menú</div>
                            </div>

                            <div>
                                <br>
                                <label class="col-form-label" for="descripcionMenu">Descripcion del menu:</label> <br>
                                <textarea class="form-control" name="descripcionMenu" id="descripcionMenu" cols="30" rows="10" placeholder="Ingrese la Descripcion del menu"></textarea>
                            </div>

                            <div>
                                <br>
                                <label class="col-form-label" for="tipoMenu">(*) Tipo de Menu:</label>
                                <select class="form-select" name="tipoMenu" id="tipoMenu" required>
                                    <option selected disabled value="">Seleccione una opcion</option>
                                    <option value="1">Entrada</option>
                                    <option value="2">Plato principal</option>
                                    <option value="3">Postre</option>
                                </select>
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Seleccione una opcion</div>
                            </div>

                            <div>
                                <br>
                                <label class="col-form-label" for="precioMenu">(*) Precio del menu</label>
                                <input class="form-control" type="number" name="precioMenu" id="precioMenu" placeholder="Ejemplo: 5000" required>
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Debe ingresar un Precio</div>
                            </div>

                            <div class="form-check form-switch">
                                <br>
                                <label class="col-form-label noSaltoLinea" for="vigente">El menu esta vigente</label>
                                <input class="form-check-input" type="checkbox" name="vigente" id="vigente" value="True">
                            </div>

                            <div>
                                <br>
                                <label class="col-form-label" for="tipoComida">(*) Tipo de comida: </label>
                                <select class="form-select" name="tipoComida" id="tipoComida" required>
                                    <option selected disabled value="">Seleccione una opcion</option>
                                    <option value="1">Normal</option>
                                    <option value="2">Vegetariano</option>
                                    <option value="3">Celiaco</option>
                                    <option value="4">Diabetico</option>
                                </select>
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Seleccione una opcion</div>
                            </div>
                            <div>
                                <label class="col-form-label" for="imagen">(*) Link Imagen: </label>
                                <input class="form-control" type="text" name="imagen" id="imagen"  maxlength="600" placeholder="Enlace Imagen"
                                required="">
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Debe ingresar una imagen en formato link</div>
                            </div>
                            <div>
                                <br>
                                <small><strong>Recordar revisar todos los campos antes de guardar</strong></small> <br> <br>
                                <input class="btn btn-success" type="submit" name="guardar" value="Guardar">  &nbsp;
                                <a href="{% url 'administrador:admin_login' %}" type="button" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </div>
                        <br><br>
                        </div>





                </fieldset>
            </form>
        </div>
        <br><br>
{% endblock %}
{% block js %}<script src="{% static 'js/validacionBootstrap.js' %}"></script>
{% endblock %}
