{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Modificar Menu{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/menu.css' %}">{% endblock %}
{% block logo %}
<a href="/index/">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/administrador/admin-login.html">Página Principal</a>
                            </li>
{% endblock %}
{% block contenido %}
<div class="container my-3">
            <div id="titulo">
                <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Modificar Menús</h1>
            </div>
            <div>
                <form action="#" method="post" autocomplete="on">
                    <fieldset>
                        <div class="card">
                            <legend class="card-header text-white bg-primary mb-3"><strong>Seleccione un Menú</strong></legend>
                            <div class="card-body">
                                <small><strong>Nota:</strong> seleccione un menú a modificar.Los campos que cuentan con el simbolo (*) son obligatorios</small>
                                <div>
                                    <br>
                                    <label class="col-form-label" for="tipoMenu">(*) Menú:</label>
                                    <select class="form-select" name="tipoMenu" id="tipoMenu" required>
                                        <option selected disabled value="">Seleccione una opcion</option>
                                        <option value="1">Medallones de pescado</option>
                                        <option value="2">Tarta de choclo</option>
                                        <option value="3">Pizza calabresa</option>
                                    </select>
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Debe seleccionar una opcion</div>

                                </div>
                            </div>
                            <legend class="card-header text-white bg-primary mb-3"><strong>Datos del Menú</strong></legend>
                            <div class="card-body">

                                <div>
                                    <label class="col-form-label" for="codigoMenu"> Codigo del Menu:</label> <br>
                                    <input class="form-control" type="number" name="codigoMenu" id="codigoMenu" placeholder="Codigo"  disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="nombreMenu"> Nombre del menu:</label><br>
                                    <input class="form-control" type="text" name="nombreMenu" id="nombreMenu" size="30" maxlength="30" placeholder="Nombre"
                                     disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="descripcionMenu">Descripcion del menu:</label> <br>
                                    <textarea class="form-control" name="descripcionMenu" id="descripcionMenu" cols="30" rows="10" placeholder="Ingrese la Descripcion del menu" disabled></textarea>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="tipoMenu"> Tipo de Menu:</label>
                                    <select class="form-select" name="tipoMenu" id="tipoMenu" disabled>
                                        <option selected>Seleccione una opcion</option>
                                        <option value="1">Entrada</option>
                                        <option value="2">Plato principal</option>
                                        <option value="3">Postre</option>
                                    </select>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="precioMenu"> Precio del menu</label>
                                    <input class="form-control" type="number" name="precioMenu" id="precioMenu" placeholder="Ejemplo: 5000" disabled>
                                </div>

                                <div class="form-check form-switch">
                                    <br>
                                    <label class="col-form-label noSaltoLinea" for="vigente">El menu esta vigente</label>
                                    <input class="form-check-input" type="checkbox" name="vigente" id="vigente" disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="tipoComida"> Tipo de comida: </label>
                                    <select class="form-select" name="tipoComida" id="tipoComida" disabled>
                                        <option selected>Seleccione una opcion</option>
                                        <option value="1">Normal</option>
                                        <option value="2">Vegetariano</option>
                                        <option value="3">Celiaco</option>
                                        <option value="4">Diabetico</option>
                                    </select>
                                </div>


                                <br>

                                <section class="habilitar/deshabilitar form-check form-switch">
                                    <strong><label class="col-form-label noSaltoLinea" for="tipoComida">Habilitar / Deshabilitar</label></strong>
                                    <input class="form-check-input" type="checkbox" disabled>
                                    <heading>(Habilita o deshabilita un menú según esté o no en stock)</heading>
                                </section>

                                <div>
                                    <br>
                                    <small><strong>Recordar revisar todos los campos antes de guardar</strong></small> <br> <br>
                                    <input class="btn btn-primary" type="submit" name="modificar" value="Modificar" disabled>  &nbsp;
                                    <a href="/administrador/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </div>

                        </div>

                    </fieldset>
                </form>
            </div>

            <br>
            <br>
        </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/modificarMenu.js' %}"></script>
    <script src="{% static 'js/validacionBootstrap.js' %}"></script>
{% endblock %}
