{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Menús{% endblock %}
{% block css %}<link href="{% static 'css/verTablas.css' %}" rel="stylesheet">{% endblock %}
{% block logo %}
<a href="/index/">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/administrador/admin-login.html">Página Principal</a>
                            </li>
{% endblock %}
{% block contenido %}
<div class="modal fade" id="modalModificarMenu" tabindex="-1" area-hidden="true" aria-labelledby="modalInformacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="bi bi-pencil-square mx-2"></i>
                    <h5 class="modal-title" id="modal-title">Modificar Menú</h5>
                    <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div id="contenedorModificarMenu">


                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" id="modificarMenu" type="button">Guardar cambios</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div class="container-fluid">
            <section class="panelMenus">
                <br>
                <h2 id="labelMenus" class="text-center">Platos Cargados</h2>
                <p id="info"><strong>Nota:</strong> para ordenar los platos según un campo determinado, presione en la columna correspondiente.
                <br>La búsqueda se puede realizar por cualquier campo de las columnas.</p>
                <div class="row mx-5">
                    <div class="col">
                        <table class="table table-primary table-hover table-striped text-center align-middle" id="tablaRegistro">
                            <thead>
                                <tr>
                                    <th scope="col" onclick="sortTable(0, 'str')">#</th>
                                    <th scope="col" onclick="sortTable(1, 'str')" style="width: 15%;">Nombre</th>
                                    <th scope="col" onclick="sortTable(2, 'str')" style="width: 18%;">Descripción</th>
                                    <th scope="col" onclick="sortTable(3, 'str')" style="width: 12%;">Tipo de plato</th>
                                    <th scope="col" onclick="sortTable(4, 'str')" style="width: 12%;">Tipo de comida</th>
                                    <th scope="col" onclick="sortTable(5, 'float')">Precio</th>
                                    <th scope="col" onclick="sortTable(6, 'str')" style="width: 12%;">Stock/Vigencia</th>
                                    <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            {% for menu in menus %}
                            <tbody id="contenedorMenus">
                                <td scope="row">{{ menu.id }}</th>
                                <td>{{ menu.nombre }}</td>
                                <td>{{ menu.descripcion }}</td>
                                <td>{{ menu.tipoMenu }}</td>
                                <td>{{ menu.tipoComida }}</td>
                                <td>{{ menu.precio }}</td>
                                <td>{{ menu.vigencia }}</td>
                                <td>
                                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModificarMenu" id="modificar{{ menu.id }}" href="modificarMenu/{{menu.id}}"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger mx-2" href="eliminarMenu/{{menu.id}}"><i class="bi bi-trash-fill"></i></a>

                                </td>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/ordenarTabla.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js' %}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/buscar.js' %}"></script>
<!--    <script src="{% static 'js/listas/listaPlatos.js' %}"></script>-->
<!--    <script src="{% static 'js/listas/cargarMenus.js' %}"></script>-->
{% endblock %}
