{% extends "base/baseHeaderNav.html" %}
{% load static %}
{% block titulo %}Ayuda{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/ayuda.css' %}">
{% endblock %}
    
{% block contenido %}
<div class="container-fluid" id="filtroFondo">
    <br>
    <section class="d-flex justify-content-center align-items-center my-3">
        <div  class="card col-sm-6 p-3 formulario" >

            <section>
                <h2 class="text-center">Bienvenido al centro de ayuda de Rotiseria El Mejor Sabor</h2>
            </section>
            <form action="#" method="post" class="needs-validation" novalidate>
                <section>
                    <h4 class="my-3">Enviar Mensaje</h4>
                    <small>Consulte los diversos inconvenientes que pueda llegar a tener para brindarle la mejor ayuda
                        y de forma especifica
                    </small> <br>
                    <small>Los campos que tenga los símbolos (*) son obligatorios</small>
                </section>
                <div > <br>
                    <label for="nombre" class="form-label">(*) Nombre:</label> <br>
                    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required="" size="30" maxlength="30">
                    <div class="valid-feedback">El valor ingresado es valido</div>
                    <div class="invalid-feedback">Ingrese un Nombre</div>
                </div>
                <div>
                    <br>
                    <label for="telefono" class="form-label">Telefono:</label> <br>
                    <input class="form-control" type="number" name="telefono" id="telefono" placeholder="Telefono">

                </div>
                <div>
                    <br>
                    <label for="correoElectronico" class="form-label">(*) Correo Electronico</label> <br>
                    <input class="form-control" type="email" name="correoElectronico" id="correoElectronico" placeholder="Correo Electronico" required>
                    <div class="valid-feedback">El valor ingresado es valido</div>
                    <div class="invalid-feedback">Ingrese un Correo Electronico</div>
                </div>
                <div>
                    <br>
                    <label for="mensaje" class="form-label">(*) Mensaje</label> <br>
                    <textarea class="form-control" name="mensaje" id="mensaje" cols="50" rows="20" required></textarea>
                    <div class="valid-feedback">El valor ingresado es valido</div>
                    <div class="invalid-feedback">Ingrese un Mensaje</div>
                </div>

                <div>
                    <br>
                    <small>Recordar revisar todos los campos antes de guardar</small> <br> <br>
                    <input class="btn btn-primary" type="submit" name="enviar" value="Enviar">  &nbsp;
                    <input class="btn btn-secondary" type="reset" name="reset" value="Cancelar">
                </div>
            </div>
            </form>

    </section>
    <br>
</div>
{% endblock %}

{% block enlaces %}
    <li><img src="{% static 'resources/Logos/iconRotiseria.png' %}" alt="icono" id="icono"></li>
    <li><a class="navbar-brand" href="/index/">Inicio</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:sobre_nosotros' %}">Sobre Nosotros</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:contacto' %}">Contacto</a></li>
{% endblock %}

{% block js %}<script src="{% static 'js/validacionBootstrap.js' %}"></script>{% endblock %}