{% extends "base/baseUsuarioCliente.html" %}
{% load static %}
{% block titulo %}Compra{% endblock %}

{% block css %}
    <style>
            body{
                background-color: #EDF6F9;
            }
        </style>
{% endblock %}

{% block contenido %}
        <div class="container my-5 px-5">
            <br>
            <br>

            <div class="card d-sm-block">
                <h3 class="card-header text-white bg-success mb-3">Informacion del pedido</h3>
                <div class="card-body">
                    <small><strong>Nota:</strong> los campos que cuentan con el simbolo (*) son obligatorios</small>
                    <br><br>

                    <form action="{% url 'navegacion:comprar_pedido' %}" method="post" autocomplete="on" class="formulario needs-validation" onsubmit="return validacion()" novalidate="">
                        {% csrf_token %}

                        <div id="div_id_fechaPedido" class="mb-3">
<!--                            <label for="id_fechaPedido" class="form-label requiredField">Fecha Pedido-->
<!--                                <span class="asteriskField">*</span>-->
<!--                            </label>-->
                            <input type="date" name="fechaPedido" class="dateinput form-control" required="" id="id_fechaPedido" hidden>
                        </div>
                        <div id="div_id_fecha_hora" class="mb-3">
<!--                            <label for="id_fecha_hora" class="form-label requiredField">Hora-->
<!--                                <span class="asteriskField">*</span>-->
<!--                            </label>-->
                            <input type="time" name="fecha_hora" class="timeinput form-control" required="" id="id_fecha_hora" hidden>
                        </div>

                        <div id="div_id_cliente" class="mb-3">

                            <label for="id_cliente" class="form-label requiredField">Cliente</label>


                            <select name="cliente" class="select form-select" required="" id="id_cliente"  hidden>
                                <option value="{{cliente.cuil}}" selected="">{{cliente.apellido}} {{cliente.nombre}}</option>
                            </select>

                            <select name="clienteMostrar" class="select form-select" required="" id="cliente" disabled>
                                <option value="" selected="">{{cliente.apellido}} {{cliente.nombre}}</option>
                            </select>

                        </div>
                        <div id="div_id_menu" class="mb-3">
                        <label for="menuSelect" class="form-label requiredField">Plato/s</label>

                            <select name="menu" class="form-select" id="menuSelect" multiple hidden>
                                {% if request.resolver_match.url_name == 'comprar_carrito' %}
                                    <script>
                                        const selectMenu = document.getElementById("menuSelect");

                                        document.addEventListener('DOMContentLoaded',() =>{
                                            if(localStorage.getItem('carrito')){
                                                carrito = JSON.parse(localStorage.getItem('carrito'));
                                            }
                                            carrito.forEach((prod) => {
                                                const option = document.createElement('option');
                                                option.setAttribute('selected',"")
                                                option.innerHTML = `${prod.id}`
                                                selectMenu.appendChild(option);
                                            })
                                        })
                                    </script>
                                {% else %}
                                    <option value="{{plato.id}}" selected>{{plato.nombre}}</option>
                                {% endif %}
                            </select>

                            <select name="menuMostrar" class="form-select" id="menuSelect2" multiple disabled>
                                {% if request.resolver_match.url_name == 'comprar_carrito' %}
                                    <script>
                                        const selectMenu2 = document.getElementById("menuSelect2");

                                        document.addEventListener('DOMContentLoaded',() =>{
                                            carrito.forEach((prod) => {
                                                const option = document.createElement('option');
                                                option.setAttribute('selected',"")
                                                option.innerHTML = `${prod.nombre}`
                                                selectMenu2.appendChild(option);
                                            })
                                        })
                                    </script>
                                {% else %}
                                    <option value="{{plato.id}}" selected>{{plato.nombre}}</option>
                                {% endif %}
                            </select>

                        </div>
                        <div id="div_id_estadoPedido" class="mb-3">
<!--                            <label for="id_estadoPedido" class="form-label requiredField">Estado Pedido</label>-->
                            <select name="estadoPedido" class="select form-select" required="" id="id_estadoPedido" hidden>
                                <option value="1" selected="">Pendiente</option>
                                <option value="">---------</option>
                                <option value="2">En preparación</option>
                                <option value="3">En camino</option>
                                <option value="4">Entregado</option>
                                <option value="5">Devuelto</option>
                                <option value="6">Cancelado</option>
                            </select>

                        </div>
                        <div class="mb-3">
                            <div id="div_id_envioDomicilio" class="mb-3 form-check">

                                <input type="checkbox" name="envioDomicilio" class="checkboxinput form-check-input" id="id_envioDomicilio" value="True">
                                <label for="id_envioDomicilio" class="form-check-label">Envio a domicilio</label>
                                <br><br>
<!--                                <label for="id_tiempoDemora" class="form-label">TiempoDemora</label>-->
                                <input type="number" name="tiempoDemora" class="numberinput form-control" id="id_tiempoDemora" value="0" hidden>
                            </div>
                        </div>
                        <div id="div_id_total" class="mb-3">
                            <label class="form-label requiredField">Precio Total</label>

                            {% if request.resolver_match.url_name == 'comprar_carrito' %}
                                <input type="number" name="total" class="numberinput form-control" required="" id="precioFinal" hidden>
                                <input type="number" name="precioTotal2" class="numberinput form-control" required="" id="precioFinal2" disabled>
                                <script>
                                    const precioFinal = document.getElementById("precioFinal");
                                    const precioFinal2 = document.getElementById("precioFinal2");

                                    document.addEventListener('DOMContentLoaded',() =>{
                                        precioFinal.value = carrito.reduce((acc,prod) => acc + prod.precio*prod.cantidad, 0)
                                        precioFinal2.value = carrito.reduce((acc,prod) => acc + prod.precio*prod.cantidad, 0)
                                    })
                                </script>
                            {% else %}
                                <input type="number" name="total" class="numberinput form-control" required="" id="total" value="{{plato.precio}}" hidden>
                                <input type="number" name="mostrarTotal" class="numberinput form-control" required="" id="" value="{{plato.precio}}" disabled>
                            {% endif %}

                        </div>
                        <hr>
                        <input class="btn btn-success" type="submit" name="guarda" value="Comprar">
                    </form>
                </div>
            </div>

        </div>
{% endblock %}


{% block js %}

<script src="{% static 'js/verificarHoraLocal.js' %}"></script>
<script >
    //fecha y hora actual 
    let hoy = new Date();

    let dia= hoy.getDate();
    let mes= hoy.getMonth() + 1 ;
    let anio = hoy.getFullYear();

    dia = ('0' + dia).slice(-2);
    mes = ('0' + mes).slice(-2);

    let formato = `${anio}-${mes}-${dia}`
    let fechaPedido = document.getElementById("id_fechaPedido");
    fechaPedido.setAttribute("value",formato)

    //////////////////////////////////////
    let hora = new Date();

    hs = ((hora.getHours() < 10) ? "0":"") + hora.getHours();
    min = ((hora.getMinutes() < 10) ? "0":"") + hora.getMinutes();

    formatoHora = `${hs}:${min}`

    let hsPedido = document.getElementById("id_fecha_hora");
    hsPedido.setAttribute("value",formatoHora + ":00");

</script>

{% endblock %}

