{% extends "base/baseUsuarioCliente.html" %}
{% load static %}
{% block titulo %}Compra{% endblock %}
{% block css %}
    <style>
            body{
                background-color: #EDF6F9;
            }
        </style>
{% endblock %}
{% block contenido %}
        <div class="container my-5 px-5">
            <br>
            <br>

            <form action="{% url 'navegacion:comprar_form_submission' %}" class="form-control row" method="POST">
                {% csrf_token %}
                <div class="row text-center my-3">
                    <h3>Información del pedido</h3>
                </div>
                <fieldset class="row mx-3">
                    <div class="row my-3">
                        <label class="col-form-label col-sm-2">Fecha del pedido:</label>
                        <div class="col-sm-3">
                            <input type="date" name="fechaPedido" id="fechaPedido" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-2">Hora del pedido:</label>
                        <div class="col-sm-3">
                            <input type="time" name="horaPedido" id="horaPedido" class="form-control" value="" disabled>
                        </div>
                        <div class="col-sm-3">
                            <input type="button" onclick="cambiarFecha()" value="Cambiar" id="cambiarHora" class="btn btn-primary">
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-form-label col-sm-2">Menú:</label>
                        <div class="col-sm-3">
                            <input type="text" name="nombreMenu" id="" class="form-control" value="{{plato.nombre}}" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-2">Precio:</label>
                        <div class="col-sm-3">
                            <input type="number" name="precioMenu" class="form-control" value="{{plato.precio}}" disabled>
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-form-label col-sm-2">Cliente:</label>
                        <div class="col-sm-3">
                            <input type="text" name="cliente" id="" class="form-control" value="Gabriel Avellaneda" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-2">Domicilio:</label>
                        <div class="col-sm-3">
                            <input type="text" name="domicilio" class="form-control" value="La Carrera Fray Mamerto Esquiu" disabled>
                        </div>
                    </div>
                    <div class="row my-3">
                        <label class="col-form-label col-sm-2">Tipo de entrega:</label>
                        <div class="col-sm-3">
                            <input type="text" name="tipoEntrega" id="" class="form-control" value="Envío a domicilio" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-2">Estado:</label>
                        <div class="col-sm-3">
                            <input type="text" name="estadoPedido" id="horaPedido" class="form-control" value="Pendiente" disabled>
                        </div>
                    </div>
                    <div class="row my-3 py-5">
                        <div class="col-sm-6">
                            <input type="submit" value="Comprar" class="btn btn-success">
                        </div>
                    </div>
                </fieldset>


            </form>
        </div>
{% endblock %}
{% block js %}<script src="{% static 'js/verificarHoraLocal.js' %}"></script>
<script>
    const fechaPedido = document.getElementById("fechaPedido").value;



    let carrito = []

    document.addEventListener('DOMContentLoaded',() =>{
    if(localStorage.getItem('carrito')){
        carrito = JSON.parse(localStorage.getItem('carrito'));
        actualizarCarrito();
    }
    })

const actualizarCarrito = () => {
    contenedorCarrito.innerHTML = ""

    //INFORMACION A MOSTRAR EN EL MODAL
    carrito.forEach((prod) => {
        const div = document.createElement('div');
        div.classList.add('pedidoCarrito');
        div.classList.add('row');
        div.classList.add('mx-2');
        div.classList.add('my-2');
        div.innerHTML = `
        <p class="col-sm-4 col-form-label">${prod.nombre}</p>
        <p class="col-sm-4 col-form-label">Precio: $${prod.precio}</p>
        <p class="col-sm-3 col-form-label" id="cantidad">Cantidad: ${prod.cantidad}</p>
        <div class="col-sm-1">
            <button class="btn btn-danger" onClick = "eliminarDelCarrito(${prod.id})"><i class="bi bi-trash-fill"></i></button>
        </div>`

        contenedorCarrito.appendChild(div);
    })
    localStorage.setItem('carrito',JSON.stringify(carrito));
    contadorCarrito.innerText = carrito.length;
    if(contadorCarrito.textContent == "0"){
        labelCarritoVacio.classList.remove('d-none');
        contadorCarrito.classList.add('d-none');
    }else{
        labelCarritoVacio.classList.add('d-none');
        contadorCarrito.classList.remove('d-none');
    }
    precioTotal.innerText = carrito.reduce((acc,prod) => acc + prod.precio*prod.cantidad, 0);
}

</script>
{% endblock %}