{% extends "base/baseUsuarioCliente.html" %}
{% load static %}
{% block titulo %}Configuracion{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/footerNavegacion.css' %}">
<style>
            body{
                background-color: #EDF6F9;
            }
        </style>
{% endblock %}

{% block contenido %}
<div class="modal fade" id="modalContraseña" tabindex="-1" area-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="bi bi-lock-fill"></i>
                        <h5 class="modal-title mx-2" id="modalTitle">Modificar Contraseña</h5>
                        <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body needs-validation">

                        <div>
                            <label class="form-label" for="passwordActual">Contraseña Actual</label>
                            <input type="password" id="passwordActual" class="form-control form-control-lg" placeholder="Ingrese su contraseña Actual" required=""/>
                            <div class="valid-feedback">El valor ingresado es valido</div>
                            <div class="invalid-feedback">Ingrese la contraseña actual</div>
                        </div>
                        <div>
                            <label class="form-label" for="passwordNuevo">Nueva contraseña</label>
                            <input type="password" id="passwordNuevo" class="form-control form-control-lg" placeholder="Ingrese su contraseña Actual" required=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="cerrarModal" data-bs-dismiss="modal">Cerrar</button>
                        <button class="btn btn-success" id="ModificarContraseña" type="submit">Modificar</button>

                    </div>
                </div>
            </div>
        </div>
<div class="container my-5 px-5">
    <br>
    <br>
    <form action="#" class="form-control row" onsubmit="return validar()" novalidate>
        <div class="row text-center my-5">
            <h3>Información Personal</h3>
        </div>
        <fieldset class="row mx-3">
            <div class="row">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2" >Nombre:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="nombre" class="form-control" value="Juan" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('nombre')" value="Modificar" id="cambiarNombre" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2 " >Apellido:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="apellido" class="form-control" value="Herrera" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('apellido')" value="Modificar" id="cambiarApellido" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Correo Electronico:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="email"  id="email" class="form-control" value="juan123@hotmail.com" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('email')" value="Modificar" id="cambiarEmail" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">

                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                    <input type="button" onclick="" value="Contraseña" id="cambiarContraseña" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modalContraseña">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Calle:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="calle" class="form-control" value="junin " disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('calle')" value="Modificar" id="cambiarCalle" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Numero de la calle:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="numeroCalle" class="form-control" value="475" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('numeroCalle')" value="Modificar" id="cambiarNumeroCalle" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Barrio:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="barrio" class="form-control" value="Eva Peron" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('barrio')" value="Modificar" id="cambiarBarrio" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Localidad:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="text"  id="localidad" class="form-control" value="San Fernando del valle de Catamarca" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('localidad')" value="Modificar" id="cambiarLocalidad" class="btn btn-primary">
                </div>
            </div>
            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Zona:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <select class="form-select" name="codigoZona" id="codigoZona" required="" disabled>
                        <option selected="" disabled="" value="">Seleccione una opcion </option>
                        <option value="1">Norte</option>
                        <option value="2">Sur</option>
                        <option value="3">Este</option>
                        <option value="4">Oeste</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('codigoZona')" value="Modificar" id="CambiarZona" class="btn btn-primary">
                </div>
            </div>

            <div class="row my-4">
                <label class="col-form-label col-sm-12 col-md-2 col-lg-2 col-xl-2">Telefono:</label>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-2">
                    <input type="tel"  id="telefono" class="form-control" value="3834025956" disabled>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 my-2">
                    <input type="button" onclick="activarModificacion('telefono')" value="Modificar" id="CambiarTelefono" class="btn btn-primary">
                </div>
            </div>



            <div class="row my-3 py-5">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-1">
                    <input type="submit" value="Guardar" class="btn btn-success">

                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-1">
                    <a href="/index/" type="button" class="btn btn-secondary ">Salir</a>
                </div>
            </div>

        </fieldset>


    </form>
</div>
{% endblock %}

{% block js %}<script src="{% static 'js/configuracion.js' %}"></script>{% endblock %}