{% extends "base/baseHeaderNav.html" %}
{% load static %}
{% block titulo %}Contacto{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block contenido %}
<div class="container-fluid" id="filtroFondo">
            <br>
        <section class="d-flex justify-content-center align-items-center my-5 mx-3 ">
            <div class="card col-sm-6 p-3 formulario">
                <h1 class="text-center">Contacto</h1>

                <section>
                    <h3>Direccion:</h3>
                    <p>Rivadavia 662, Catamarca, San Fernando del valle de Catamarca</p>
                    <h3>Teléfonos:</h3>
                    <p>(3834) 025896</p>
                    <p>(3834) 123456</p>
                    <h3>Email</h3>
                    <a href="mailto:wwwgonzalito@hotmail.com" target="_blank">wwwgonzalito@hotmail.com</a>
                    <br>
                    <h3>Horarios de atencion:</h3>
                    <p>Lunes a viernes de 10:00hs a 15:00hs y de 20hs a 01:00</p>
                </section>

                <div class="iconos  my-3">
                    <a class="" href="https://www.instagram.com/gonzalo_de_la_fuente_/" target="_blank"> <img class="logos" src="{% static 'resources/Logos/instaLogo.png' %}" alt="logo de instagram" width="100" ></a>
                    <a href="https://www.facebook.com/kevin.aguero.31586" target="_blank"> <img class="logos" src="{% static 'resources/Logos/facebook-logo-3-1.png' %}" alt="logo de facebook" width="100"></a>
                </div>
            </div>
        </section>
        <br>
        </div>
{% endblock %}

{% block enlaces %}
    <li><img src="{% static 'resources/Logos/iconRotiseria.png' %}" alt="icono" id="icono"></li>
    <li><a class="navbar-brand" href="/index/">Inicio</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:sobre_nosotros' %}">Sobre Nosotros</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:ayuda' %}">Ayuda</a></li>
{% endblock %}

{% block js %}{% endblock %}
