{% extends "base/baseLogin.html" %}
{% load static %}
{% block titulo %}Ingresar{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.css' %}">
<link rel="stylesheet" href="{% static 'css/login-register/register.css' %}">
{% endblock %}
{% block contenido %}
<section class="vh-140" id="filtroFondo">
            <!-- Sing in  Form -->
            <br>
            <br>
            <br>
          <section class="sign-in">
            <div class="container text-center">
                <div class="signin-form">
                    <h2 class="form-title mt-5">Ingresar</h2>
                    <form action="" method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3 mt-1">
                                <span>Usuario</span>
                            </div>
                            <div class="form-group col-sm-9">
                                <label for="usuario"><i class="bi bi-person-fill"></i></label>
                                <input type="text" placeholder="Ingrese su correo electrónico" id="usuario" name="usuario"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mt-1">
                                <span>Clave</span>
                            </div>
                            <div class="form-group col-sm-9">
                                <label for="pass"><i class="bi bi-key-fill"></i></label>
                                <input type="password" placeholder="Ingrese su contraseña" name="contraseña"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <a href="recuperar_contraseña.html" class="signup-image-link my-4">¿Olvidaste tu contraseña?</a>
                            <a href="register" class="signup-image-link my-4">Crear una cuenta</a>
                            <a href="/index/" class="signup-image-link">Volver al inicio</a>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Ingresar"/>
                        </div>
                    </form>
                    <div class="social-login mb-3">
                        <span class="social-label">O ingresa con</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </section>
          <br>
          <br>
          <br>
        </section>
{% endblock %}
{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if msj %}

        <script>
            Swal.fire({
                "title": "La operacion no se pudo realizar",
                "text": "{{msj}}",
                "icon": "error"
            })
        </script>

{% endif %}

{% endblock %}