{% extends "base/baseFooterLogin.html" %}
{% load static %}
{% block titulo %}Configuracion{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.css' %}">
<link rel="stylesheet" href="{% static 'css/login-register/login-register.css' %}">
{% endblock %}
{% block contenido %}
<section class="vh-140" id="filtroFondo">
            <!-- Sing in  Form -->
            <br>
            <br>
            <br>
          <section class="sign-in">
            <div class="container text-center">
                <div class="signin-form">
                    <h2 class="form-title mt-5">Ingresar</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="row">
                            <div class="col-sm-3 mt-1">
                                <span>Email</span>
                            </div>
                            <div class="form-group col-sm-9">
                                <label for="email"><i class="bi bi-envelope-fill"></i></label>
                                <input type="email" placeholder="Ingrese su correo electrónico"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 mt-1">
                                <span>Clave</span>
                            </div>
                            <div class="form-group col-sm-9">
                                <label for="pass"><i class="bi bi-key-fill"></i></label>
                                <input type="password" placeholder="Ingrese su contraseña"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <a href="recuperar_contraseña.html" class="signup-image-link my-4">¿Olvidaste tu contraseña?</a>
                            <a href="register" class="signup-image-link">Crear una cuenta</a>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Ingresar"/>
                        </div>
                    </form>
                    <div class="social-login mb-3">
                        <span class="social-label">O ingresa con</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </section>
          <br>
          <br>
          <br>
        </section>
{% endblock %}
{% block js %}{% endblock %}