{% extends "base/baseFooterLogin.html" %}
{% load static %}
{% block titulo %}Recuperar Contraseña{% endblock %}
{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/recuperarContraseña.css' %}">
<script src="https://kit.fontawesome.com/4697645f5f.js" crossorigin="anonymous"></script>
{% endblock %}
{% block contenido %}
<div class="container">
        <h1>Sistema para recuperar Contraseña</h1>
        <div id="cajaCorreo">
            <form action="#" method="post" autocomplete="on" class="needs-validation" novalidate>
                <div class="label">
                    <label for="correoRecuperacion" >Ingrese el correo electronico con el que se ha registrado</label>

                </div>
                <input type="email" name="correo" id="correoRecuperacion" class="correo" placeholder="Ingrese su correo" required="">
                <div class="valid-feedback text-center">El valor ingresado es valido</div>
                <div class="invalid-feedback text-center">Ingrese un correo Electronico</div>
                <br>
                <div class="botones">
                    <button class="enviar">Enviar codigo </button>
                    <a class="salir" href="login">Salir</a>

                </div>
            </form>
        </div>

    </div>
    <br><br><br><br><br><br>
{% endblock %}
{% block js %}<script src="{% static 'js/validacionBootstrap.js' %}"></script>{% endblock %}