{% extends "base/baseHeaderNav.html" %}
{% load static %}
{% block titulo %}Quienes somos{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/sobreNosotros.css' %}">
{% endblock %}

{% block contenido %}
<br>
        <div class="container my-5 p-3 border border-dark border-5">
            <div class="row ">
                <h1 class="text-center"><strong>¿Quienes somos?</strong></h1>
            </div>
           <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
                    <div>
                        <p>Somos <b>ROTISERIA EL MEJOR SABOR</b> una empresa destacada en el rubro gastronómico por la elaboración
                        de la mejor comida casera.</p>
                        <p>Teniendo como prioridad fundamental la calidad y el control permanente de los productos manejados
                            , brindar la mejor atencion personalizada y los precios mas bajos del mercado.
                        </p>
                        <p>
                            Nuestros platos se elaboran al momento de ser solicitados, lo que garantiza los sabores y calidad inigualables
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7  text-center">
                    <img class="img-fluid " src="{% static 'resources/vianda.jpg' %}" alt="Imagen de vianda" title="Vianda" width="350">
                </div>
            </div>



        </div>
{% endblock %}

{% block enlaces %}
    <li><img src="{% static 'resources/Logos/iconRotiseria.png' %}" alt="icono" id="icono"></li>
    <li><a class="navbar-brand" href="/index/">Inicio</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:contacto' %}">Contacto</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:ayuda' %}">Ayuda</a></li>
{% endblock %}

{% block js %}{% endblock %}