{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Modificar Cadete{% endblock %}
{{% block css %}<link rel="stylesheet" href="{% static 'css/empleado.css' %}">
<link rel="stylesheet" href="{% static 'css/cadete.css' %}">
{% endblock %}
{% block logo %}
<a href="/index/">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/administrador/admin-login.html">Página Principal</a>
                            </li>
{% endblock %}
{% block contenido %}
<div class="container my-3">
            <div id="titulo">
                <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Modificar Cadetes</h1>
            </div>
            <div>
                <form action="#" method="post" autocomplete="on">
                    <fieldset>
                        <div class="card">
                            <legend class="card-header text-white bg-primary mb-3"><strong>Seleccione un Cadete</strong></legend>
                            <div class="card-body">
                                <small><strong>Nota:</strong> seleccione un cadete a modificar.Los campos que cuentan con el simbolo (*) son obligatorios</small>
                                <div>
                                    <br>
                                    <label class="col-form-label" for="tipoMenu">(*) Cadete:</label>
                                    <select class="form-select" name="tipoMenu" id="tipoMenu" required>
                                        <option selected disabled value="">Seleccione una opcion</option>
                                        <option value="1">Gustavo Contreras</option>
                                        <option value="2">De la Fuente Gonzalo</option>
                                        <option value="3">Joseph Ontivero</option>

                                    </select>
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Debe seleccionar una opcion</div>
                                </div>
                            </div>
                            <legend class="card-header text-white bg-primary mb-3"><strong>Informacion a Modificar</strong></legend>
                            <div class="card-body">
                                <small><strong>Nota:</strong> los campos que cuentan con el simbolo  son obligatorios</small>
                                <div>
                                    <label class="col-form-label" for="cuilCadete"><strong> Cuil</strong></label>
                                    <br>
                                    <input class="form-control" type="number" name="cuilCadete" id="cuilCadete"  placeholder="Ingresar el cuil sin guiones" required="" disabled>
                                </div>

                                <section>
                                    <br>
                                    <h4 class="card-header text-white bg-primary mb-3"><strong> Apellido y nombre</strong></h4>
                                    <label class="col-form-label" for="nombre">Nombre:</label>
                                    <input class="form-control" type="text" name="nombre" id="nombre" size="50" maxlength="50" placeholder="Nombre" required="" disabled>
                                    <label class="col-form-label" for="apellido">Apellido:</label>
                                    <input class="form-control" type="text" name="apellido" id="apellido" size="50" maxlength="50" placeholder="Apellido" required="" disabled>
                                </section>

                                <section>
                                    <br>
                                    <h4 class="card-header text-white bg-primary mb-3"><strong>Numeros de Telefonos</strong></h4>
                                    <label class="col-form-label" for="telefonoFijo"> Telefono fijo:</label>

                                    <input class="form-control" type="tel" name="telefonoFijo" id="telefonoFijo" placeholder="Telefono fijo" disabled>
                                    <label class="col-form-label" for="telefonoCelular"> Telefono celular:</label>

                                    <input class="form-control" type="tel" name="telefonoCelular" id="telefonoCelular" placeholder="Telefono celular" required="" disabled>
                                </section>

                                <section>
                                    <br>
                                    <h4 class="card-header text-white bg-primary mb-3"><strong>Domicilio</strong></h4>
                                    <label class="col-form-label" for="calle"></label> Calle: <br>

                                    <input class="form-control" type="text" name="calle" id="calle" size="50" maxlength="50" placeholder="Calle" required="" disabled>
                                    <label class="col-form-label" for="domicilioNumero"></label> Numero:

                                    <input class="form-control" type="number" name="domicilioNumero" id="domicilioNumero" placeholder="Numero" required="" disabled> <br> <br>
                                    <label class="col-form-label" for="departamento"></label> Departamento:

                                    <input class="form-control" type="text" name="departamento" id="departamento" placeholder="Departamento" required="" disabled>
                                    <label class="col-form-label" for="localidad"></label> Localidad:

                                    <input class="form-control" type="text" name="localidad" id="localidad" placeholder="Localidad" required="" disabled>

                                </section>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="fechaNacimiento"><strong> Fecha nacimiento</strong></label><br>
                                    <input class="form-control" type="date" name="fechaNacimiento" id="fechaNacimiento"  required="" disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="fechaIngresoRotiseria"><strong> Fecha en la que ingreso a la rotiseria</strong></label>
                                    <input class="form-control" type="date" name="fechaIngresoRotiseria" id="fechaIngresoRotiseria" required="" disabled>
                                </div>

                            </div>

                        </div>

                    </fieldset>
                    <div class="card my-3">
                        <fieldset>
                            <legend class="card-header text-white bg-primary mb-3"><strong>Informacion adicional del cadete</strong></legend>
                            <div class="card-body">
                                <div>
                                    <label class="col-form-label" for="vigenciaCarnet">Vigencia del Carnet</label>
                                    <br>
                                    <input class="form-control" type="date" name="vigenciaCarnet" id="vigenciaCarnet" disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="patenteCadete">Datos de la patente</label> <br>
                                    <input class="form-control" type="text" name="patenteCadete" id="patenteCadete" size="20" maxlength="20" placeholder="Patente" disabled>
                                </div>

                                <div>
                                    <br>
                                    <label class="col-form-label" for="codigoZona">Codigo de la Zona</label> <br>
                                    <input class="form-control" type="number" name="codigoZona" id="codigoZona" placeholder="Codigo de la zona" disabled>
                                </div>
                                <br>
                                <section class="habilitar/deshabilitar form-check form-switch">
                                    <h5 class="noSaltoLinea">Habilitar / Deshabilitar</h5>

                                    <input class="form-check-input" type="checkbox" disabled>

                                </section>

                                <div>
                                    <br>
                                    <small>Recordar revisar todos los campos antes de guardar</small> <br> <br>
                                    <input class="btn btn-primary" type="submit" name="modificar" value="Modificar" disabled>
                                    <a href="/administrador/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </div>
                            </fieldset>



                    </div>

                </form>
            </div>
        </div>



        <br>
{% endblock %}
{% block js %}<script src="{% static 'js/validacionBootstrap.js' %}"></script>{% endblock %}
