{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Empleados{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/verTablas.css'  %} ">

{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}

{% block contenido %}

        <div class="modal fade" id="modalModificarEmpleado" tabindex="-1" area-hidden="true" aria-labelledby="modalInformacion">

        </div>

        <div class="modal fade" id="modalModificarCadete" tabindex="-1" area-hidden="true" aria-labelledby="modalInformacion">

        </div>

    <div class="container-fluid">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div class="container-fluid">
            <section class="panelMenus">
                <br>
                <h2 id="labelMenus" class="text-center">Registro Empleados</h2>
                <p id="info"><strong>Nota:</strong> para ordenar los empleados según un campo determinado, presione en la columna correspondiente.
                <br>La búsqueda se puede realizar por cualquier campo de las columnas.</p>
                <div class="row mx-3">
                    <div class="col">
                        <table class="table table-primary table-hover table-striped text-center align-middle" id="tablaEmpleados">
                            <thead>
                                <tr>
                                    <th scope="col" onclick="sortTable(0, 'int')" >Cuil</th>
                                    <th scope="col" onclick="sortTable(1, 'str')" >Nombre</th>
                                    <th scope="col" onclick="sortTable(2, 'str')" >Apellido</th>
                                    <th scope="col" onclick="sortTable(3, 'date')" style="width: 13%;">Fecha Nacimiento</th>
                                    <th scope="col" onclick="sortTable(4, 'str')">Localidad</th>
                                    <th scope="col" onclick="sortTable(5, 'str')">Calle</th>
                                    <th scope="col" onclick="sortTable(6, 'int')">Numero</th>
                                    <th scope="col" onclick="sortTable(7, 'str')">Departamento</th>
                                    <th scope="col" onclick="sortTable(8, 'int')">Telefono Fijo</th>
                                    <th scope="col" onclick="sortTable(9, 'int')">Telefono Celular</th>
                                    <th scope="col" onclick="sortTable(10, 'date')" style="width: 14%;">Fecha de ingreso</th>
                                    <th scope="col" style="width: 12%;">Acción</th>
                                </tr>
                            </thead>
                                <tbody id="contenedorEmpleados">
                                    {% for empleado in empleados %}
                                        <tr>
                                            <td scope="row">{{empleado.cuil}}</th>
                                            <td>{{empleado.nombre}}</td>
                                            <td>{{empleado.apellido}}</td>
                                            <td>{{empleado.fechaNacimiento}}</td>
                                            <td>{{empleado.domicilio_localidad}}</td>
                                            <td>{{empleado.domicilio_calle}}</td>
                                            <td>{{empleado.domicilio_numero}}</td>
                                            <td>{{empleado.domicilio_departamento}}</td>
                                            <td>{{empleado.telefonoFijo}}</td>
                                            <td>{{empleado.telefonoCelular}}</td>
                                            <td>{{empleado.fechaIngreso}}</td>
                                            <td>
                                                <button class="btn btn-primary" onclick="abrirModalEmpleado('{% url 'empleado:modificarEmpleado' empleado.cuil %}')"><i class="bi bi-pencil-square"></i></button>
                                                <a class="btn btn-danger mx-2 eliminar" href="{% url 'empleado:eliminar' empleado.cuil %}" ><i class="bi bi-trash-fill"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="panelMenus">
                <br>
                <h2 id="labelMenus" class="text-center">Registro Cadetes</h2>
                <p id="info"><strong>Nota:</strong> para ordenar los cadetes según un campo determinado, presione en la columna correspondiente.
                <br>La búsqueda se puede realizar por cualquier campo de las columnas.</p>
                <div class="row">
                    <div class="col">
                        <table class="table table-primary table-hover table-striped text-center align-middle" id="tablaRegistro">
                            <thead>
                                <tr>
                                    <th scope="col" onclick="sortTable(0, 'int')" >Cuil</th>
                                    <th scope="col" onclick="sortTable(1, 'str')" >Nombre Completo</th>
                                    <th scope="col" onclick="sortTable(2, 'date')" style="width: 13%;">Fecha Nacimiento</th>
                                    <th scope="col" onclick="sortTable(3, 'str')">Localidad</th>
                                    <th scope="col" onclick="sortTable(4, 'str')">Calle</th>
                                    <th scope="col" onclick="sortTable(5, 'int')">Numero</th>
                                    <th scope="col" onclick="sortTable(6, 'str')">Departamento</th>
                                    <th scope="col" onclick="sortTable(7, 'int')">Telefono Fijo</th>
                                    <th scope="col" onclick="sortTable(8, 'int')">Telefono Celular</th>
                                    <th scope="col" onclick="sortTable(9, 'date')" style="width: 14%;">Fecha de ingreso</th>
                                    <th scope="col" onclick="sortTable(10, 'date')" style="width: 14%;">Vigencia Carnet</th>
                                    <th scope="col" onclick="sortTable(11, 'str')">Patente</th>
                                    <th scope="col" onclick="sortTable(12, 'int')">Cod Zona</th>
                                    <th scope="col" style="width: 12%;">Acción</th>
                                </tr>
                            </thead>
                                <tbody id="contenedorCadetes">
                                    {% for cadete in cadetes %}
                                        <tr>
                                            <td scope="row">{{cadete.cuil}}</th>
                                            <td>{{cadete.nombre_completo}}</td>
                                            <td>{{cadete.fechaNacimiento}}</td>
                                            <td>{{cadete.domicilio_localidad}}</td>
                                            <td>{{cadete.domicilio_calle}}</td>
                                            <td>{{cadete.domicilio_numero}}</td>
                                            <td>{{cadete.domicilio_departamento}}</td>
                                            <td>{{cadete.telefonoFijo}}</td>
                                            <td>{{cadete.telefonoCelular}}</td>
                                            <td>{{cadete.fechaIngreso}}</td>
                                            <td>{{cadete.vigenciaCarnet}}</td>
                                            <td>{{cadete.patente}}</td>
                                            <td>{{cadete.codigoZona}}</td>
                                            <td>
                                                <button class="btn btn-primary" onclick="abrirModalCadete('{% url 'cadete:modificarCadete' cadete.cuil %}')"><i class="bi bi-pencil-square"></i></button>
                                                <a class="btn btn-danger mx-2 eliminar" href="{% url 'cadete:eliminar' cadete.cuil %}" ><i class="bi bi-trash-fill"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/ordenarTabla.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/buscar.js' %}"></script>
    <script src="{% static 'js/alertaEliminar.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" >
        function abrirModalEmpleado(url){
            $('#modalModificarEmpleado').load(url, function(){
                $(this).modal('show');
            })
        }

        function abrirModalCadete(url){
            $('#modalModificarCadete').load(url, function(){
                $(this).modal('show');
            })
        }
    </script>

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "La operacion se realizo correctamente",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}
