{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Registrar un cliente{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/cliente.css' %}">{% endblock %}
{% block logo %}
<a href="/index/">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/administrador/admin-login.html">Página Principal</a>
                            </li>
{% endblock %}

{% block contenido %}
<div class="container-sm my-3">
            <div id="titulo">
                <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Alta de Clientes</h1>
            </div>
            <section class="card">
                <h2 class="card-header text-white bg-success mb-3">Registrarse</h2>
                <div class="card-body">
                    <small><strong>Nota:</strong> los campos que cuentan con el simbolo (*) son obligatorios</small>
                <br>
                </div>

            </section>
            <br><br>

            <div>
                <form action="#" method="post" autocomplete="on" class="needs-validation" novalidate>
                    <fieldset>
                        <div class="card">
                                <legend class="card-header text-white bg-success mb-3"><strong>Informacion del cliente</strong></legend>
                            <div class="card-body">
                                <label class="col-form-label" for="cuilCadete">(*) Cuil</label>
                                <br>
                                <input class="form-control" type="number" name="cuilCadete" id="cuilCadete"  placeholder="Ingresar el cuil sin guiones" required="">
                                <div class="valid-feedback">El valor ingresado es valido</div>
                                <div class="invalid-feedback">Ingrese un Cuil</div>
                                <br>
                                <section>
                                    <h4 class="card-header text-white bg-success mb-3"><strong>(*) Apellido y nombre</strong></h4>
                                    <label class="col-form-label" for="nombre">Nombre:</label>

                                    <input class="form-control" type="text" name="nombre" id="nombre" size="50" maxlength="50" placeholder="Nombre" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese un Nombre</div>
                                    <label class="col-form-label" for="apellido">Apellido:</label>
                                    <input class="form-control" type="text" name="apellido" id="apellido" size="50" maxlength="50" placeholder="Apellido" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese un Apellido</div>
                                    <br>
                                </section>

                                <section>
                                    <h4 class="card-header text-white bg-success mb-3"><strong>Domicilio</strong></h4>
                                    <label class="col-form-label" for="calle"></label>(*) Calle:

                                    <input class="form-control" type="text" name="calle" id="calle" size="50" maxlength="50" placeholder="Calle" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese una Calle</div>
                                    <br>
                                    <label class="col-form-label" for="domicilioNumero"></label>(*) Numero:

                                    <input class="form-control" type="number" name="domicilioNumero" id="domicilioNumero" placeholder="Numero" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese un Numero</div>
                                    <br>
                                    <label class="col-form-label" for="domicilioBarrio"></label>(*) Barrio:
                                    <input class="form-control" type="text" name="domicilioBarrio" id="domicilioBarrio" placeholder="Barrio" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese un Barrio</div>
                                     <br>


                                    <label class="col-form-label" for="localidad"></label>(*) Localidad:
                                    <input class="form-control" type="text" name="localidad" id="localidad" placeholder="Localidad" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese una Localidad</div>

                                    <br>
                                    <label for="observacion">Observacion:</label> <br>
                                    <textarea class="form-control" name="observacion" id="observacion" cols="30" rows="10" placeholder="Ingrese la observacion"></textarea>

                                </section>

                                <div>
                                    <br>
                                    <label for="codigoZona">(*) Zona:</label>
                                    <select class="form-select" name="codigoZona" id="codigoZona" required>
                                        <option selected disabled value="">Seleccione una opcion </option>
                                        <option value="1">Norte</option>
                                        <option value="2">Sur</option>
                                        <option value="3">Este</option>
                                        <option value="4">Oeste</option>
                                    </select>
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Seleccione una opcion</div>
                                </div>

                                <section>
                                    <br>
                                    <h4 class="card-header text-white bg-success mb-3"><strong>(*) Telefono</strong></h4>
                                    <label class="col-form-label" for="telefonoCliente">(*) Telefono:</label>
                                    <input class="form-control" type="tel" name="telefonoCliente" id="telefonoCliente" placeholder="Telefono" required="">
                                    <div class="valid-feedback">El valor ingresado es valido</div>
                                    <div class="invalid-feedback">Ingrese un Telefono</div>
                                </section>
                                <div>
                                    <br>
                                    <small>Recordar revisar todos los campos antes de guardar</small> <br> <br>
                                    <input class="btn btn-success" type="submit" name="guarda" value="Guardar">
                                    <a href="/administrador/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </fieldset>




                </form>
            </div>



</div>
{% endblock %}
{% block js %}<script src="{% static 'js/validacionBootstrap.js' %}"></script>{% endblock %}

