{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Eliminar Cliente{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/cliente.css' %}">{% endblock %}
{% block logo %}
<a href="/index/">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/administrador/admin-login.html">Página Principal</a>
                            </li>
{% endblock %}
{% block contenido %}
<div class="container my-5">
            <div id="titulo">
                <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Eliminar un Cliente</h1>
            </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1">
                                <img src="{% static 'resources/eliminarCliente.jpg' %}" alt="Imagen de eliminar cliente" title="eliminar cliente" width="45px">
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" >
                                        <label class="col-form-label" for="buscarCliente">Buscar cliente a eliminar: </label>
                                    </div>
                                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 my-3">
                                        <input class="form-control" type="number" name="buscarCliente" id="buscarCliente" placeholder="Cuil del Cliente" >
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 my-3">
                                        <button class="btn btn-primary" id="botonBuscar">Buscar</button>
                                    </div>
                                </div>



                            </div>
                            <br><br>
                        </div>

                    </div>
                </div>



            <div class="container">

                <section class="card my-5" >
                <div class="card-body">
                    <h3 class="card-header text-white bg-dark mb-3 text-center">Informacion del cliente a eliminar</h3>
                    <br>
                    <div class="position-relative">
                        <table class="table table-striped ">
                            <tr class="table-dark">
                                <th>Codigo</th>
                                <th>Cuil</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>2043136120</td>
                                <td>Aguero</td>
                                <td>Kevin</td>
                                <td>3834013782</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>1325626080</td>
                                <td>Fuentes</td>
                                <td>Marcos</td>
                                <td>3834583089</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>

                    <div>
                        <br><br>
                        <button class="btn btn-danger" id="botonEliminar">Eliminar</button>
                        <a href="/administrador/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
                </section>



            </div>

        </div>
{% endblock %}
{% block js %}{% endblock %}