{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Clientes{% endblock %}
{% block css %}<link href="{% static 'css/verTablas.css' %}" rel="stylesheet">{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}
{% block contenido %}
<div class="modal fade" id="modalModificarCliente" tabindex="-1" area-hidden="true" aria-labelledby="modalInformacion">

</div>

    <div class="container-fluid">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div class="container-fluid">
            <section class="panelMenus">
                <br>
                <h2 id="labelMenus" class="text-center">Clientes Registrados</h2>
                <p id="info"><strong>Nota:</strong> para ordenar los clientes según un campo determinado, presione en la columna correspondiente.
                <br>La búsqueda se puede realizar por cualquier campo de las columnas.</p>
                <div class="row mx-5">
                    <div class="col">
                        <table class="table table-primary table-hover table-striped text-center align-middle" id="tablaRegistro">
                            <thead>
                                <tr>
<!--                                    <th scope="col" onclick="sortTable(0, 'str')">#</th>-->
                                    <th scope="col" onclick="sortTable(1, 'str')" >Cuil</th>
                                    <th scope="col" onclick="sortTable(2, 'str')" >Nombre</th>
                                    <th scope="col" onclick="sortTable(3, 'str')" >Apellido</th>
                                    <th scope="col" onclick="sortTable(4, 'str')" >Barrio</th>
                                    <th scope="col" onclick="sortTable(5, 'str')">Localidad</th>
                                    <th scope="col" onclick="sortTable(6, 'str')" >Zona</th>
                                    <th scope="col" onclick="sortTable(7, 'str')" >Telefono</th>
                                    <th scope="col" onclick="sortTable(8, 'str')" >calle</th>
                                    <th scope="col" onclick="sortTable(9, 'str')" >numero domicilio</th>
                                    <th scope="col" style="width: 18%;">Acción</th>
                                </tr>
                            </thead>

                            <tbody id="contenedorClientes">
                                {% for cliente in clientes%}
                                    <tr>
                                        <td scope="row">{{cliente.cuil}}</td>
                                        <td>{{cliente.nombre}}</td>
                                        <td>{{cliente.apellido}}</td>
                                        <td>{{cliente.domicilio_barrio}}</td>
                                        <td>{{cliente.domicilio_localidad}}</td>
                                        <td>{{cliente.domicilio_zona}}</td>
                                        <td>{{cliente.telefono}}</td>
                                        <td>{{cliente.domicilio_calle}}</td>
                                        <td>{{cliente.domicilio_numero}}</td>
                                        <td>
                                            <button class="btn btn-primary" onclick="abrirModal('{% url 'cliente:modificar' cliente.cuil %}')"><i class="bi bi-pencil-square"></i></button>
                                            <a class="btn btn-danger mx-2 eliminar" href="{% url 'cliente:eliminar' cliente.cuil %}"><i class="bi bi-trash-fill"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/ordenarTabla.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="{% static 'js/buscar.js' %}"></script>
    <script src="{% static 'js/alertaEliminar.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript" >
    function abrirModal(url){
        $('#modalModificarCliente').load(url, function(){
            $(this).modal('show');
        })
    }
</script>
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                "title": "La operacion se realizo correctamente",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
    {% endfor %}
{% endif %}
{% endblock %}

