{% extends "base/baseIndexComprar.html" %}
{% load static %}
{% block titulo %}Rotiseria El Mejor Sabor{% endblock %}
{% block css %}
    <script src="{% static 'js/listas/listaPlatos.js' %}"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block elementos %}
    <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menús</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#entrada">Todos los menús</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#labelMenus">Entrada de mesa</a></li>
                                        <li><a class="dropdown-item" href="#platoprincipal">Plato Principal</a></li>
                                        <li><a class="dropdown-item" href="#postre">Postre</a></li>
                                    </ul>
                            </li>
    <form class="d-flex buscador">
                                <input class="form-control me-2" type="search" placeholder="Buscar un menú" aria-label="Search">
                                <button class="btn btn-outline-light" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </form>
{% endblock %}
{% block contenido %}
        <div class="modal fade" id="miModal" tabindex="-1" area-hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="bi-cart-fill me-1"></i>
                        <h5 class="modal-title" id="modal-title">Carrito</h5>
                        <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div id="contenedorCarrito">
                        </div>
                        <h5 class="text-secondary text-center" style="user-select: none;" id="labelCarritoVacio">El carrito está vacío.</h5>
                        <div class="mt-4">
                            <strong>Precio total: $<span id="precioTotal">0</span></strong>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" id="vaciarCarrito">Vaciar carrito</button>
                        <a class="btn btn-success" id="comprarCarrito" type="button" href="{% url 'navegacion:comprar' %}">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalNotificaciones" tabindex="-1" area-hidden="true" aria-labelledby="modalNotificaciones">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="bi-cart-fill me-1"></i>
                        <h5 class="modal-title" id="modal-title">Notificaciones</h5>
                        <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div id="contenedorNotificaciones">
                        </div>
                        <h5 class="text-secondary text-center" style="user-select: none;" id="labelNotificacionesVacias">No tienes notificaciones.</h5>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--PROMOCIONES-->
        <div class="container-fluid" id="promociones">
            <div class="container">
                <main>
                    <div id="titulo">
                        <img src="{% static 'resources/Logos/titulo.png' %}"  alt="titulo_rotiseria">
                    </div>
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'resources/Promos/1.jpg' %}" alt="Img. 1">
                            <div class="container">
                                <div class="carousel-caption">
                                <p><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
                                </div>
                            </div>
                            </div>

                            <div class="carousel-item">
                            <img src="{% static 'resources/Promos/2.jpg' %}" alt="Img. 2">
                            <div class="container">
                                <div class="carousel-caption">
                                <p><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
                                </div>
                            </div>
                            </div>

                            <div class="carousel-item">
                            <img src="{% static 'resources/Promos/4.jpg' %}" alt="Img. 4">
                            <div class="container">
                                <div class="carousel-caption">
                                <p><a class="btn btn-lg btn-primary" href="#">Ver más</a></p>
                                </div>
                            </div>
                            </div>

                            <div class="carousel-item">
                            <img src="{% static 'resources/Promos/3.jpg' %}" alt="Img. 3">
                            <div class="container">
                                <div class="carousel-caption">
                                <p><a class="btn btn-lg btn-primary" href="#medallones">Ver más</a></p>
                                </div>
                            </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                            <div class="circulo">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </div>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                            <div class="circulo">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </div>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </main>
            </div>
        </div>
        <!--ITEMS A COMPRAR-->
        <div class="container-fluid" id="filtroFondo">
            <br>
            <div id="cajaMenu">
                <h1>Nuestros Menús</h1>
            </div>

            <section class="panelMenus swiper mySwiper" >
                <br>
                <h2 id="labelMenus">Entradas de mesa</h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content" id="entrada">
                        {% for menu in menus%}

                        const div = document.createElement('div');
                        div.classList.add('swiper-slide');
                        div.classList.add('card');
                        div.classList.add('h-100');
                        div.innerHTML = `
                        <img class="card-img-top" src={{menu.img}} alt="comida"/>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{menu.nombre}}</h5>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                ${{menu.precio}}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                            <a class="btn btn-outline-success mt-auto" type="button" href="/navegacion/comprar.html">Comprar</a>
                            </div>
                            <div class="text-center">
                            <a class="btn btn-outline-primary mt-auto" type="button" id="agregar{{menu.id}}">Añadir al carrito</a>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>

            <section class="panelMenus swiper mySwiper">
                <br>
                <h2 id="labelMenus">Platos principales</h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content" id="platoprincipal">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>

            <section class="panelMenus swiper mySwiper">
                <br>
                <h2 id="labelMenus">Postres</h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content" id="postre">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>
            <br>
        </div>
{% endblock %}

{% block enlaces %}
    <li><img src="{% static 'resources/Logos/iconRotiseria.png' %}" alt="icono" id="icono"></li>
    <li><a class="navbar-brand" href="/index/">Inicio</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:sobre_nosotros' %}">Sobre nosotros</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:contacto' %}">Contacto</a></li>
    <li><a class="navbar-brand" href="{% url 'navegacion:ayuda' %}">Ayuda</a></li>
{% endblock %}

{% block js %}
        <script src="{% static 'js/carrito.js' %}"></script>
        <script src="{% static 'js/notificaciones.js' %}"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{% static 'js/sliderMenu.js' %}"></script>
{% endblock %}