{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Configuracion{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/estadisticas.css' %}">
    <style>
        .sinSalto{
            display: inline-flex;
        }
    </style>
{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'administrador:admin_login' %}">Página Principal</a>
                        </li>
{% endblock %}
{% block contenido %}
<div class="container" id="ventasDiarias">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div class="container panelMenus ">
            <h2>Configuración</h2>

            <form class="form-control">
                <div class="row">
                    <p class="col-form-label text-center my-3"><strong>Horario de trabajo</strong></small></p>
                </div>
                <div class="row mb-3 mx-3">
                    <p class="col-form-label col-sm-2"><strong>Desde:</strong></small></p>
                    <div class="col-sm-3 sinSalto">
                        <input type="number" class="form-control px-1" id="" min="00" max="23" required value="10">
                        <p class="col-form-label col-sm-2"><strong>:</strong></small></p>
                        <input type="number" class="form-control px-1" id="" min="00" max="59" required value="00">
                    </div>
                    <p class="col-form-label col-sm-2"><strong>Hasta:</strong></small></p>
                    <div class="col-sm-3 sinSalto">
                        <input type="number" class="form-control px-1" id="" min="00" max="23" required value="23">
                        <p class="col-form-label col-sm-2"><strong>:</strong></small></p>
                        <input type="number" class="form-control px-1" id="" min="00" max="59" required value="30">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </div>
                <div class="invalid-feedback">El valor ingresado no es valido</div>

            </form>
        </div>
    </div>
{% endblock %}

{% block js %}<script src="{% static 'js/verificarHoraLocal.js' %}"></script>{% endblock %}


