{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Estadisticas{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/estadisticas.css' %}">{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                </a>
{% endblock %}
{% block paginaPrincipal %}
<li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'administrador:admin_login' %}">Página Principal</a>
                        </li>
{% endblock %}
{% block contenido %}
<div class="container" id="ventasDiarias">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div id="cajaMenu">
            <h1>Estadisticas</h1>
        </div>
        <div class="container panelMenus">
            <h2>Listado de ventas diarias</h2>
            <div class="row" id="tablaListado">
                <div class="col">
                    <table class="table table-dark table-hover table-striped">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Menu</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha Venta</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Domicilio</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Pizza Calabresa</td>
                                <td>2500$</td>
                                <td>Plato principal</td>
                                <td>15/03/2021</td>
                                <td>Jose Aguirre</td>
                                <td>La Carrera</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Ñoquis</td>
                                <td>1000$</td>
                                <td>Plato principal</td>
                                <td>06/07/2022</td>
                                <td>Tomas Contreras</td>
                                <td>Capital</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="pedidosCadetes">
        <div class="container panelMenus ">
            <h2>Pedidos entregados por cadetes</h2>
            <div class="row" id="tablaListado">
                <div class="col">
                    <table class="table table-dark table-hover table-striped">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">CUIL</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Jorge</td>
                                <td>Puentes</td>
                                <td>27.42351362.4</td>
                                <td>3834819245</td>
                                <td>56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Gabriel</td>
                                <td>Avellaneda</td>
                                <td>27.23576424.4</td>
                                <td>3834346751</td>
                                <td>14</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/sliderMenu.js' %}"></script>
{% endblock %}

