
{% extends "base/baseHeaderFooter.html" %}
{% load static %}
{% block titulo %}Historial Pedidos{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="stylesheet" href="{% static 'css/estadisticas.css' %}">
{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                    <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                    </a>
{% endblock %}

{% block contenido %}
<div class="modal fade" id="modalInformacion" tabindex="-1" area-hidden="true" aria-labelledby="modalInformacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="bi bi-info-circle-fill mx-3"></i>
                    <h5 class="modal-title" id="modal-title">Información del pedido</h5>
                    <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div id="contenedorInformacionHistorial">
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="eliminarPedidoHistorial" type="button">Eliminar</a>

                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid" id="ventasDiarias">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div id="cajaMenu">
            <h1>Historial</h1>
        </div>
        <div class="container-fluid panelMenusHistorial">
            <section class="panelMenusHistorial swiper mySwiper" id="entrada">
                <h2 id="labelMenus" class="text-center">Pedidos</h2>

                <p id="info"><strong>Nota:</strong> para ordenar los pedidos según un campo determinado, presione en la columna correspondiente.
                    <br>La búsqueda se puede realizar por cualquier campo de las columnas.
                    <br>Para ver más información de un pedido, presione en su fila correspondiente.</p>

            <div class="row mx-3">
                <div class="col">
                    <table class="table table-dark table-hover table-striped align-middle text-center" id="tablaRegistro">
                        <thead>
                            <tr>
                                <th scope="col" onclick="sortTable(0, 'str')">#Código</th>
                                <th scope="col" onclick="sortTable(1, 'date')" style="width: 18%;"><i class="bi bi-calendar-date-fill"></i> Fecha</th>
                                <th scope="col" onclick="sortTable(2, 'str')" style="width: 8%;"><i class="bi bi-clock-fill"></i> Hora</th>
                                <th scope="col" onclick="sortTable(3, 'str')" style="width: 20%;"><i class="bi bi-box-seam"></i> Menú</th>
                                <th scope="col" onclick="sortTable(4, 'float')">$Precio</th>
                                <th scope="col" onclick="sortTable(5, 'str')"><i class="bi bi-person-badge-fill"></i> Cliente</th>
                                <th scope="col" onclick="sortTable(6, 'str')"><i class="bi bi-geo-alt-fill"></i> Domicilio</th>
                                <th scope="col" onclick="sortTable(7, 'str')" style="width: 15%;">
                                    <div class="d-block">
                                        <i class="bi bi-truck"></i>
                                        Tipo Entrega
                                    </div>
                                </th>
                                <th scope="col" onclick="sortTable(8, 'str')"><i class="bi bi-ui-checks-grid"></i> Estado</th>
                            </tr>
                        </thead>
                        <tbody id="contenedorPedidos">
                        </tbody>
                    </table>
                </div>
            </div>
            </section>

        </div>
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/ordenarTabla.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'js/buscar.js' %}"></script>
<script src="{% static 'js/listas/listaPedidosHistoricos.js' %}"></script>
{% endblock %}