{% extends "base/baseHeaderFooter.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}Añadir un pedido{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/pedido.css' %}">{% endblock %}
{% block logo %}
<a href="{% url 'administrador:admin_login' %}">
                <img src="{% static 'resources/Logos/rotiseria.png' %}" alt="icono principal" id="logo"/>
                </a>
{% endblock %}

{% block contenido %}
<div class="container my-5">
        <div id="titulo">
            <img src="{% static 'resources/Logos/titulo.png' %}" alt="titulo_rotiseria">
        </div>
        <div id="cajaMenu">
            <h1>Añadir un Pedido</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="card d-sm-block">

            <h3 class="card-header text-white bg-success mb-3">Informacion del pedido</h3>
            <div class="card-body">
                <small><strong>Nota:</strong> los campos que cuentan con el simbolo (*) son obligatorios</small>
                <br><br>

                <form action="" method="post" autocomplete="on" class="formulario needs-validation" onsubmit="return validacion()" novalidate>
                    {% csrf_token %}
                    {{ form | crispy }}

                        <small>Recordar revisar todos los campos antes de guardar</small> <br> <br>
                        <hr>
                        <input class="btn btn-success" type="submit" name="guarda" value="Añadir" >
                        <a href="../admin/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>

                </form>
            </div>
        </div>


    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/pedido.js' %}"></script>
<script src="{% static 'js/validacionBootstrap.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                "title": "La operacion se realizo correctamente",
                "text": "{{m}}",
                "icon": "success"
            })
        </script>
    {% endfor %}
{% endif %}

{% endblock %}

